<div class="list-container">
  <h2>Livres</h2>
  <div class="list-container">
    <div class="bar">
      <input
        type="text"
        [(ngModel)]="searchQuery"
        placeholder="Rechercher un livre..."
        (input)="onSearch(searchQuery)"
      />
      <div class="">
        <button title="Utilisateurs" style="background: none" (click)="goUsers()">
          <span style="margin-top: 5px" class="material-symbols-outlined"> contacts_product </span>
        </button>
        <button title="Catégories" style="background: none" (click)="goCategories()">
          <span style="margin-top: 5px" class="material-symbols-outlined"> category</span>
        </button>
        <button title="Ajouter" style="background: none" (click)="goNew()">
          <span style="margin-top: 5px" class="material-symbols-outlined"> add_circle </span>
        </button>
      </div>
    </div>
  </div>

  <div style="margin: 10px">
    <label style="color: white">Trier par :</label>
    <select
      style="color: rgb(255, 255, 255); background: none; border: none"
      [(ngModel)]="sortBy"
      (change)="changeSort(sortBy)"
    >
      <option style="color: black" value="titre">Titre</option>
      <option style="color: black" value="auteur">Auteur</option>
      <option style="color: black" value="datePublication">Date</option>
    </select>

    <button style="background: none; margin: 15px" (click)="toggleDirection()">
      <span style="margin-top: 5px" *ngIf="direction === 'asc'" class="material-symbols-outlined">
        arrow_circle_up
      </span>
      <span style="margin-top: 5px" *ngIf="direction !== 'asc'" class="material-symbols-outlined">
        arrow_circle_down
      </span>
    </button>
  </div>

  <table *ngIf="livres.length > 0; else noData">
    <thead>
      <tr>
        <th>Titre</th>
        <th>Auteur</th>
        <th>Date</th>
        <th>ISBN</th>
        <th>Catégorie</th>
        <th>Actions</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr title="Détails livre" (click)="goDetail(l)" class="book-detail" *ngFor="let l of livres">
        <td>{{ l.titre }}</td>
        <td>{{ l.auteur }}</td>
        <td>{{ l.datePublication }}</td>
        <td>{{ l.isbn }}</td>
        <td>{{ l.categorie?.nom }}</td>
        <td>
          <button (click)="goEdit(l)">Modifier</button>
        </td>
        <td>
          <button class="delete" (click)="delete(l)">Supprimer</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="pagination">
    <button style="background: none" (click)="prevPage()" [disabled]="currentPage === 0">
      <span style="margin-top: 5px" class="material-symbols-outlined"> arrow_circle_left </span>
    </button>
    <span style="color: white">Page {{ currentPage + 1 }} / {{ totalPages }}</span>
    <button
      style="background: none"
      (click)="nextPage()"
      [disabled]="currentPage >= totalPages - 1"
    >
      <span style="margin-top: 5px" class="material-symbols-outlined"> arrow_circle_right</span>
    </button>
  </div>

  <ng-template #noData>
    <p>Aucun livre trouvé.</p>
  </ng-template>

  <div *ngIf="error" class="error">{{ error }}</div>
  <div *ngIf="successMsg" class="success">{{ successMsg }}</div>
</div>
