<div class="form-container">
  <div class="list-container">
    <h2>{{ isEdit ? 'Modifier un livre' : 'Ajouter un livre' }}</h2>

    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="form-group">
        <label>Titre</label>
        <input type="text" formControlName="titre" />
      </div>

      <div class="form-group">
        <label>Auteur</label>
        <input type="text" formControlName="auteur" />
      </div>

      <div class="form-group">
        <label>Date de publication</label>
        <input type="date" formControlName="datePublication" />
      </div>

      <div class="form-group">
        <label>ISBN</label>
        <input type="text" formControlName="isbn" />
      </div>

      <div class="form-group">
        <label>Description</label>
        <textarea formControlName="description"></textarea>
      </div>

      <div class="form-group">
        <label>Catégorie</label>
        <select formControlName="categorieId">
          <option [ngValue]="null">-- Choisir une catégorie --</option>
          <option *ngFor="let c of categories" [ngValue]="c.id">
            {{ c.nom }}
          </option>
        </select>
      </div>

      <button type="submit" [disabled]="loading">
        {{ isEdit ? 'Enregistrer' : 'Ajouter' }}
      </button>
    </form>
    <button (click)="cancel()">Annuler</button>

    <div *ngIf="error" class="error">{{ error }}</div>
    <div *ngIf="successMsg" class="success">{{ successMsg }}</div>
  </div>
</div>
